@model IEnumerable<Service.Entities.MealCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Meal Categories</h1>
@if (Model.Count() == 0)
{
    @if (User.IsInRole("Admin"))
    {
        <a href="/MealCategory/CreateMealCategory" class="btn border-primary">Create new MealCategory</a>
    }
    else
    {
        <div>The Ha's restaurant dont have any bussiness right now</div>
        <div> Please contact <email mail-to="hadvh@fsoft.com.vn"> </email> </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealCategoryImage)
            </th>
            <th>
                @if (User.IsInRole("Admin"))
                {
                    <a href="/MealCategory/CreateMealCategory" class="btn border-primary">Create new MealCategory</a>
                }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MealCategoryName)
            </td>
            <td>
                    <img src="~/Images/@item.MealCategoryImage" class="rounded-circle" width="60" height="60" asp-append-version="true">
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.MealCategoryID  })
                        @Html.ActionLink("Delete", "Delete", new { id=item.MealCategoryID })
                    }
                   <br> @Html.ActionLink("DetailMealCategory", "DetailMealCategory", "MealCategory",new { id=item.MealCategoryID }) 
            </td>
        </tr>
}
    </tbody>
</table>
